<%- include('partials/header'); -%>

<%- include('components/navbar'); -%>
<div class="home-bg" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <img src="/assets/img/Homescreen.jpg" alt="Home Banner" style="width: 100%; max-height: 600px; min-height: 320px; height: 38vw; object-fit: cover; border-radius: 0 0 32px 32px; box-shadow: 0 6px 32px rgba(0,0,0,0.13);">
</div>

<link rel="stylesheet" href="/assets/css/home.css">

<%- include('components/donatesection'); -%>

<%- include('components/precaution'); -%>

<%- include('components/testimonials'); -%>

<%- include('components/press'); -%>
<script>
 
</script>
<%- include('partials/footer'); -%>


